* {
  box-sizing: border-box;
}

html,
body {
  width: 100vw;
  height: 100%;
}

body {
  color: #fff;
  background-color: #000;
}

.content {
  height: 300px;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cv, .works {
  font-family: "OTF® Glusp", Arial, sans-serif;
  text-transform: lowercase;
  z-index: 10000;
  font-size: 1.5em;
  mix-blend-mode: difference;
  background-color: rgb(28, 28, 28);
  color: #808080;
  cursor: pointer;
  position: absolute;
  top: 10%;
  right: 10%;
  padding: 4px 10px;
  animation: shake 2s infinite;
  border-radius: 5px;
}

.cv:hover, .works:hover {
  color: #fff;
}

.content__img {
  max-width: 200px;
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
  filter: grayscale(100%);
}

@media screen and (min-width: 50em) {
  body {
    overflow: hidden;
  }
  .content {
    height: 100vh;
    overflow: hidden;
  }
}

.container {
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.line {
  width: 70%;
  height: 70px;
  position: relative;
  overflow: hidden;
}

.line span {
  position: absolute;
  font-size: 3rem;
  line-height: 4.2rem;
  font-family: "OTF® Glusp", Arial, sans-serif;
  z-index: 10000;
  mix-blend-mode: difference;
}

.audio-toggle {
  position: absolute;
  bottom: 10%;
  right: 10%;
  background-color: transparent;
  color: #808080;
  height: 35px;
  width: fit-content;
  padding: 0 10px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
  z-index: 99999;
  font-size: 16px;
  font-family: "OTF® Glusp", Arial, sans-serif;
  transition: 0.3s;
  border-style: none;
  mix-blend-mode: difference;
}

.audio-toggle:hover {
  background-color: rgb(28, 28, 28);
  color: #fff;
}

@keyframes shake {
  0% {
    transform: translate(0, 0) rotate(0);
  }
  20% {
    transform: translate(-10px, 0) rotate(-20deg);
  }
  30% {
    transform: translate(10px, 0) rotate(20deg);
  }
  50% {
    transform: translate(-10px, 0) rotate(-10deg);
  }
  60% {
    transform: translate(10px, 0) rotate(10deg);
  }
  100% {
    transform: translate(0, 0) rotate(0);
  }
}

@media screen and (max-width: 600px) {
  body {
    margin-left: -5px;
  }
  .line {
    height:50px;
  }

  .line span {
    font-size: 1.5rem;
  }
}